@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Neucha&family=Righteous&family=Roboto&family=Oswald&display=swap');

/* font-family: 'Hammersmith One', sans-serif;
font-family: 'Neucha', cursive;
font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif;
color: #FFBC37; // golden
background-color: #FF0000; // red (button) 
svg: #8A0101;
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  /* background-image: url("https://lh4.googleusercontent.com/LeGrb_A0-hbI2rX0QcSGpqj1U6taD-nx7Xf5EOnVRWWzIm9oVKVoTQddI5d4h3PmRl1lqA=w16383"); */
  background-image: url("./reusables/dice-and-doom-big-image.jpg");
  background-size: cover;
  background-position: center center;
  transform: translate3d(0px, 0px, 0px);
  height: 300px;
  position: absolute;
  display: table-cell;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.background-color-header {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* .header-logo {
  max-width: 180px;
  width: 20%;
} */

.header-title {
  margin: 0;
  width: 100%;
  height: 80%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 60px;
}

.header-links-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  font-family: 'Neucha', cursive;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFBC37;
  align-items: flex-end;
  padding: 30px;
}

header a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.header-icon-border {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-right: 8px;
  border: 2px solid #FFBC37;
  border-radius: 50%;
}

header a:hover .header-icon-border {  
  background-color: #3a393981;
}

.link {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #FFBC37;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
}

.link::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

header a:hover .link::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

.current-route {
  text-decoration: underline;
}

header + section {
  margin-top: 300px;
}

h1 {
  font-family: "Oswald";
}

.card-container, .home-card-container {
  display: flex;
  flex-direction: column;
  width: 280px;
  border: 2px solid #000;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 3px 3px 5px #767676;
}

.card-container:hover {
  box-shadow: none;
  opacity: 0.5;
}

.card-image {
  width: 200px;
  height: 200px;
  align-self: center;
}

.card-title {
  margin: 10px 0px 10px 0px;
  font-family: "Oswald";
}

.card-text {
  margin: 0;
  font-family: "Oswald";
}

.creator-container {
  display: flex;
}

.creator-image-container {
  position: relative;
}

.creator-image {
  position: absolute;
  width: 300px;
  height: 300px;
}

.character-image-container {
  display: inline-block;
}

.character-image {
  height: 300px;
  width: 300px;
}

button {
  height: 40px;
}

select {
  height: 40px;
}

@media (min-width: 670px) {
  .home-cards-container, .race-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}