@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Neucha&family=Righteous&family=Roboto&family=Oswald&family=Just+Another+Hand&family=Lobster&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

button,
select {
  cursor: pointer;
}

button:disabled {
  cursor: initial;
}

/***** HEADER *****/

header + section {
  margin-top: 230px;
}

header {
  background-image: url("./reusables/dice-and-doom-big-image.jpg");
  background-size: cover;
  background-position: center center;
  transform: translate3d(0px, 0px, 0px);
  height: 300px;
  position: absolute;
  display: table-cell;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.background-color-header {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-title {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 50px;
  text-align: center;
}

.header-links-container {
  display: none;
}

h1,
h2 {
  font-family: "Oswald";
  margin: 16px 0;
}

nav {
  z-index: 2;
}

.burger-menu-links-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  font-family: "Oswald";
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  padding: 30px;
}

.link-container {
  display: flex;
  flex-direction: row;
}

.burger-menu-icon-border {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-right: 8px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.current-route {
  text-decoration: underline;
} 

/***** HOME & RACE *****/

.main {
  display: flex;
  flex-direction: column;
  padding: 80px 10px 30px;
  text-align: center;
  align-items: center;
}

.main-text {
  margin: 0;
  font-size: 18px;
  font-family: "Oswald";
}

.cards-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 280px;
  max-width: 320px;
  margin-top: 24px;
  padding: 5px;
  border: 15px solid #000;
  border-radius: 20px;
  box-shadow: 6px 6px 10px #000000a4, 10px 10px 3px #922020;
  background-color: rgb(255, 255, 255);
}

.race-card:hover {
  box-shadow: none;
  opacity: 0.85;
  transition: all 0.2s ease-in-out;
}

.card-background {
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 10px 10px 5px 5px;
  box-shadow: 0px 0px 3px #000000;
}

.card-image {
  width: 100%;
  border: 1.5px solid #000;
  margin: 2px 2px 0px 0px;
  background-color: #c9c3bc;
}

.card-title {
  margin: 0;
  font-family: "Oswald";
  font-size: 24px;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 0px 0px 5px 15px;
}

.card-text {
  margin: 0;
  font-family: "Oswald";
  font-size: 18px;
  padding: 5px;
  border: 1.5px solid #000;
  border-radius: 0px 0px 5px 5px;
  text-align: left;
}

/***** CREATOR *****/

.creator {
  flex-direction: row;
  justify-content: center;
  padding-top: 110px;
}

.creator-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border: 15px solid #000;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 6px 6px 10px #000000a4, 10px 10px 3px #922020;
}

.creator-card select,
.creator-card button {
  font-family: "Oswald";
  font-size: 20px;
  width: 100%;
  padding: 4px 8px;
  border: 2px solid #000;
  border-radius: 15px;
  background: #fff;
  text-transform: capitalize;
}

.creator-card-image-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  margin: 8px 0;
  display: flex;
  justify-content: center;
  background: #fff;
  border-radius: 10px;
  filter: brightness(95%);
}

.creator-image {
  position: absolute;
  width: 100%;
  border: 1px solid #000;
  border-radius: 10px;
}

.creator-card-bottom-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
  justify-content: space-between;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 8px;
}

.creator-card-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-icon {
  width: 24px;
  margin-right: 6px;
}

.creator-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.creator-button:nth-of-type(1) {
  width: 40%;
  margin-right: 8px;
}

.creator-button:nth-of-type(2) {
  width: 60%;
}

.arrow-button {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
  margin: 20px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  background: #922020;
  z-index: 1;
}

.arrow-button:nth-of-type(1) {
  left: 0;
}

.arrow-button:nth-of-type(2) {
  right: 0;
}

.arrow-button:disabled {
  background: #fff;
}

.arrow-button:disabled .creator-icon {
  opacity: 0.4;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.popup .popuptext {
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/***** GALLERY *****/

.filter-select {
  border: none;
  border-bottom: 2px solid #9b2222;
  border-top: 2px solid #9b2222;
  align-self: flex-end;
  font-family: "Oswald";
  font-size: 24px;
  width: 200px;
  padding: 8px;
  margin: 16px 0;
}

.gallery-card {
  background: #000;
  color: #fff;
  text-align: center; 
  font-family: "Oswald";
}

.character-image {
  width: 100%;
  padding: 16px 0;
  background-color: #fff;
  box-shadow: inset 0 -30px 20px black, 
              inset 0 -10px 10px black, 
              inset 0 5px 10px black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  filter: brightness(95%);
}

.character-image-created-by {  
  font-size: 24px;
  margin: 8px;
}

.character-image-user {  
  font-family: "Lobster";
  font-size: 32px;
}

.character-image-race {
  text-transform: capitalize;
  font-size: 24px;
}

.character-image-created-at {
  font-size: 20px;
  margin: 8px 0 16px;
}

/***** USER GALLERY *****/

.user-gallery-card {
  position: relative;
}

.user-gallery-card .character-image {  
  border-radius: 10px;
  box-shadow: inset 0 0 10px black;
}

.user-gallery-card-icons {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 20px 20px 0 0;
}

.user-gallery-card-icon {
  width: 36px;
  padding: 4px;
  margin-bottom: 8px;
  opacity: 0.8;
}

.user-gallery-card:hover .user-gallery-card-icons {
  z-index: 1;
}

.user-gallery-card-icon:hover {
  transform: scale(1.2);
  transition: all 0.2s ease;
}

/***** CHARACTER SHEET *****/

.react-responsive-modal-modal {
  padding: 0!important;
  border-radius: 10px;
  width: -moz-available;    
  width: -webkit-fill-available;  
  width: stretch;
}

.sheet-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px 30px;
  box-sizing: border-box;
  border: 2px solid #fff;
  background: rgb(197, 209, 203);
}

.sheet-second-row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sheet-image {
  width: 100%;
  /* max-width: 300px; */
  border: solid #000;
  border-width: 2px;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  transform: rotate(1deg);
  background-color: #fff;
}

.sheet-content label {
  text-transform: capitalize;
  font-family: "Oswald";
}

.sheet-text-inputs {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  width: 100%;
  font-family: "Oswald";
  font-size: 15px;
}

.text-input {
  border: none;
  font-size: 25px;
  padding: 5px;
  margin: 5px;
  font-family: 'Just Another Hand';
  color: #525257;
  background-color: #fff;
  text-align: center;
}

.text-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  border: 2px solid #000;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  transform: rotate(1deg);
  background-color: #fff;
  margin: 8px 0;
}

.sheet-range-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
  font-family: "Oswald";
  width: 100%;
}

.sheet-range-container-desktop {
  display: none;
}

.range-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.range-slider {
  -webkit-appearance: none;
  width: 200px;
  border-radius: 8px;
  height: 7px;
  border: 1px solid #bdc3c7;
  background-color: #fff; 
  margin: 10px;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #c7c7c7;
  border: 1px solid #5c5c5c;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.output-value-container {
  border: solid #000;
  border-width: 2px;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  transform: rotate(1deg);
  background-color: #fff;
  padding: 20px;
}

.sheet-text-area-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 15px 0;
  font-family: "Oswald";
  border: 2px solid #000;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  transform: rotate(1deg);
  background-color: #fff;
}

textarea {
  width: 90%;
  border: none;
  font-family: 'Just Another Hand';
  color: #525257;
  font-size: 25px;
  text-align: center;
  padding: 10px;
  margin: 8px;
  resize: none;
}

.text-input:focus,
textarea:focus {
  outline: none;
  color: #9b2222;
}

.save-sheet-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #000;
  padding: 8px 12px;
  margin-top: 8px;
  border-radius: 15px;
  font-family: Oswald;
  font-size: 16px;
}

.save-sheet-button:hover {
    background: #922020;
    transform: scale(1.02);
    transition: all 0.2s linear; 
}

.save-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.save-button-container .popup .popuptext {
  left: 15px;
}

/***** LOGIN *****/

.login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 100px;
}

.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 16px;
  border: 12px solid #000;
  border-radius: 20px;
  box-shadow: 6px 6px 10px #000000a4, 10px 10px 3px #922020;
}

.login-container img {
  display: none;
  width: 50%;
  border: 1px solid #922020;
  border-radius: 20px;
  box-shadow: 0 0 5px #922020;
  filter: saturate(50%);
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Oswald";
  font-size: 20px;
}

.login-form input {
  border: none;
  border: 1px solid transparent;
  border-bottom: 2px solid #922020;
  background: transparent;
  font: inherit;
  padding: 8px;
  margin: 0 0 24px;
}

.login-form input:focus {
  outline: none;
  border: 1px solid #FFBC37;
  transition: border 0.3s linear; 
}

.login-form label {
  margin: 0 0 8px 8px;
  text-align: left;
}

.login-form button {
  width: 70%;
  align-self: center;
  background: #922020;
  border: none;
  padding: 16px;
  margin: 16px 0;
  font: inherit;
  text-transform: uppercase;
  box-shadow: 5px 5px 10px #000000a4;
  border-radius: 20px;
}

.login-error-message {
  margin: 0;
  height: 80px;
  text-align: left;
}

/***** LOADER *****/

.dice-loader {
  width: 200px;
  height: 200px;
  margin-top: 100px;
}

.breathe { 
  transform-origin: center;
  animation: breathe 1.6s infinite;
}
.first { animation-delay: .2s; }
.second { animation-delay: .4s; }
.third { animation-delay: .6s; }
.fourth { animation-delay: .8s; }

@keyframes breathe {
  0%, 50% { 
    transform: scale(1.0);
    opacity: 1
  }
  20% {
    opacity: 0.5
  }
  33% { 
    transform: scale(.2);
  }
}

@media (min-width: 400px) {
  .sheet-content {
    padding: 50px;
  }
}

/***** MEDIA QUERIES *****/

@media (min-width: 670px) {
  .main,
  .creator {
    padding: 40px 30px;
  }

  header + section {
    margin-top: 300px;
  }

  .header-title {
    font-size: 60px;
  }

  .cards-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: initial;
  }
  
  h2 {
    font-size: 32px;
  }

  .main-text {
    font-size: 24px;
  }

  .races-title {
    margin: 0;
  }

  .card {
    margin: 16px;
  }

  .creator-card {
    max-width: 440px;
    padding: 20px;
  }
  .creator-card select,
  .creator-card button {
    font-size: 24px;
  }
  
  .card-icon {
    width: 30px;
    margin-right: 12px;
  }
  
  .creator-button {
    padding: 8px 12px;
  }

  .arrow-button {
    background: #fff;
  }

  .creator-button:hover,
  .arrow-button:hover {
    background: #922020;
    transform: scale(1.02);
    transition: all 0.2s linear; 
  }

  .arrow-button {
    position: static;
    width: 60px;
    height: 60px;
  }

  .arrow-button:disabled:hover {
    background: initial;
    transform: none;
  }

  .login-container {
    width: 80%;
    padding: 50px;
  }

  .login-form {
    font-size: 24px;
  }

  .react-responsive-modal-modal {
    width: auto;
  }
  .sheet-content {
    max-width: 600px;
    padding: 60px 100px
  }
}


@media (min-width: 1024px) {
  .burger-menu-line {
    display: none;
  }
  
  .header-title {
    height: 80%;
  }
  
  .header-links-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    font-family: "Oswald";
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    align-items: flex-end;
    padding: 30px;
  }
  
  header a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
  }
  
  .header-icon-border {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin-right: 8px;
    border: 2px solid #fff;
    border-radius: 50%;
  }
  
  header a:hover .header-icon-border {  
    background-color: #1b1b1bbe;
  }
  
  .link {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
  }
  
  .link::before,
  .link::after {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    top: 100%;
    left: 0;
    pointer-events: none;
  }
  
  .link::before {
    content: '';
  }
  
  .link::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
  }
  
  header a:hover .link::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
  }
  
  .current-route {
    text-decoration: underline;
  }
  
  header + section {
    margin-top: 300px;
  }

  h2 {
    font-size: 48px;
  }

  .card {
    max-width: 350px;
    margin: 24px;
  }

  .login-form button:hover {
    background: #9b2222;
    transform: scale(1.02);
    transition: all 0.2s linear; 
  }

  .login-container {
    width: 80%;
    min-width: 900px;
    max-width: 1200px;
  }
  
  .login-container img {
    display: block;
    margin-left: 40px;
    width: 60%;
  }
  
  .login-form {
    width: 40%;
  }

  .sheet-container {
    background-color: #fff;
  }
  
  .sheet-content {
    max-width: 800px;
    padding: 60px;
    background-color: rgb(197, 209, 203);
    outline: 2px solid rgb(255, 255, 255);
    outline-offset: -10px;
    border: none;
  }
    
  .sheet-second-row {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
  }

  .sheet-image {
    width: 45%;
  }


  .sheet-text-inputs {
    width: 45%;
  }

  .sheet-range-container {
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
  }

  .sheet-range-container-mobile {
    display:none!important;
  }

  .sheet-range-container-desktop {
    display: flex;
  }

  .range-slider {
    width: 150px;
  }

  textarea {
    width: 550px;
  }
}

@media (min-width: 850px) {

  .header-links-container {
    font-size: 24px;
  }

  .header-icon-border {
    width: 50px;
    height: 50px;
  }

}

@media (min-width: 1920px) {
  .main,
  .creator {
    padding: 30px 150px;
  }
  .link {
    font-size: 32px;
  }
}