@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Neucha&family=Righteous&family=Roboto&family=Oswald&display=swap');

/* font-family: 'Hammersmith One', sans-serif;
font-family: 'Neucha', cursive;
font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif;
color: #FFBC37; // golden
background-color: #FF0000; // red (button) 
svg: #8A0101;
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-image: url("./reusables/stacked-waves-haikei-red.svg");
  background-size: auto;
  height: 200px;
  font-family: 'Neucha', cursive;
  font-size: 32px;
  text-transform: uppercase;
  color: #FFBC37;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}

.header-logo {
  max-width: 180px;
  width: 20%;
}

.header-links-container {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

header a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.header-icon-border {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-right: 8px;
  border: 2px solid #FFBC37;
  border-radius: 50%;
}

header a:hover .header-icon-border {  
  background-color: #3a393981;
}

.link {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #FFBC37;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
}

.link::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

header a:hover .link::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

.current-route {
  text-decoration: underline;
}

h1 {
  font-family: "Oswald";
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 280px;
  border: 2px solid #000;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 3px 3px 5px #767676;
}

.card-container:hover {
  box-shadow: none;
  opacity: 0.5;
}

.card-image {
  width: 200px;
  height: 200px;
  align-self: center;
}

.card-title {
  margin: 10px 0px 10px 0px;
  font-family: "Oswald";
}

.card-text {
  margin: 0;
  font-family: "Oswald";
}

.creator-container {
  display: flex;
}

.creator-image-container {
  position: relative;
}

.creator-image {
  position: absolute;
  width: 300px;
  height: 300px;
}

.character-image-container {
  display: inline-block;
}

.character-image {
  height: 300px;
  width: 300px;
}

.login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: linear-gradient(90deg, rgba(75,69,69,1) 0%, rgba(110,96,96,1) 10%, rgba(110,96,96,1) 86%, rgba(75,69,69,1) 100%);
  /* background: url(./reusables/pattern.svg), linear-gradient(90deg, rgba(75,69,69,1) 0%, rgba(110,96,96,1) 10%, rgba(110,96,96,1) 86%, rgba(75,69,69,1) 100%); */
  padding: 50px 100px;
}

.login-container {
  width: 70%;
  min-width: 1100px;
  display: flex;
  justify-content: center;
  background: #dfd9d9;
  padding: 100px;
  box-shadow: 12px 12px 16px #000000a4, 16px 16px 0 #922020;
}

.login img {
  width: 50%;
  border: 1px solid #922020;
  box-shadow: 0 0 5px #922020;
  filter: saturate(50%);
}

.login-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  font-family: "Oswald";
  font-size: 24px;
}

.login-form input {
  border: none;
  border: 1px solid transparent;
  border-bottom: 2px solid #922020;
  background: transparent;
  font: inherit;
  padding: 8px;
  margin: 0 0 24px;
}

.login-form input:focus {
  outline: none;
  border: 1px solid #FFBC37;
  transition: border 0.3s linear; 
}

.login-form label {
  margin: 0 0 8px 8px;
}

.login-form button {
  width: 70%;
  align-self: center;
  background: #922020;
  border: none;
  padding: 16px;
  margin: 16px 0;
  font: inherit;
  text-transform: uppercase;
  box-shadow: 5px 5px 10px #000000a4;
}

.login-form button:hover {
  background: #9b2222;
  transform: scale(1.02);
  transition: all 0.2s linear; 
}

.login-error-message {
  margin: 0;
  height: 80px;
}